body {
  margin: auto;
  justify-content: center;
}

#card-body-img {
  background-image: url("../img/legendsTrainer.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#buscador {
  margin: auto;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.form-control::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.25;
}

#buscador_input {
  font-size: larger;
}
